<%- include('../partials/head'); %>

  <div class="container-sm mt-5">
    <h2>Adicionar produto</h2>
    <a href="/dashboard">
      <button type="button" class="btn btn-primary">Voltar</button>
    </a>
    <form class="mt-5" method="post" action="/addpro">
      <div class="row w-50">
        <div class="col">
          <input type="text" class="form-control" name="code" required placeholder="Ex: 34263428743" pattern="\d+">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="name" required placeholder="Nome do produto">
        </div>
      </div>
      <div class="col d-flex">
        <div class="row w-20 mt-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)"
              placeholder="Preço unitário" required pattern="\d+">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-50">
        <div class="col">
          <input type="text" class="form-control" name="quantidade" required
            placeholder="Quantidade do produto: Ex: 1, 2, 3, 4" pattern="\d+">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="quantidademinima" required placeholder="Quantidade minima"
            pattern="\d+">
        </div>
        <button type="submit" class="btn btn-success mt-5">Cadastrar</button>
      </div>
    </form>
  </div>
  <%- include('../partials/footer'); %>