<%- include('../partials/head'); %>

  <div class="w-50 mx-auto mt-50" style="margin-top: 40px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">cod</th>
          <th scope="col">title</th>
          <th scope="col">price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td>produto</td>
        </tr>
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer'); %>